APP_ENV=local
APP_URL=http://localhost/Ride_Hailing_System
DB_HOST=127.0.0.1
DB_NAME=niaride
DB_USER=root
DB_PASS=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MAP_PROVIDER=
MAP_API_KEY=
GOOGLE_MAPS_API_KEY=
